<div class="push">
  <% if @question %>
    <div class="question_text"><%= @question.text %></div>
    <div class="question_button">
      <span class="question_no"><%= link_to "skip", questions_path %></span>
      <span class="question_yes"><%= link_to "answer", new_question_answer_path(@question.id) %></span>
    </div>
    <div class="question_button">
      <span class="question_info"><%= link_to "more info", question_path(@question) %></span>
    </div>
  <% else %>
    no questions to show!
  <% end %>
</div>