<% if @question %>
  <p><%= @question.text %></p>
  <p><%= link_to "yes, answer this!", question_path(@question.id) %></p>
  <p><%= link_to "no, view another?", questions_path %></p>

<% else %>
  no questions to show!
<% end %>