<% if session[:id] %>
  <h1>Welcome</h1>
  <h4>Get started by clicking one of the links!</h4>
  <div class="intro_button">
    <%= link_to "Answer", questions_path, :class => "intro_question_button" %><%= link_to "Ask", new_question_path, :class => "intro_question_button" %>
  </div>
<% else %>
  <%= render partial: "/sessions/new" %>
<% end %>