/* General Styles */

body {
  padding-top: 65px;
  padding-bottom: 20px;
}

.fade {
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
}

/* Sign In Styles */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Header Styles */
.navbar {
  background-image: url('./nebula.png');
}

/* main content styles */
.main {
  max-width: 650px;
  width: 85%;
}

/* form styles */
input, textarea, button {
  display: block;
  max-width: 300px;
  width: 50%;
  margin: 2em auto;
}

/* question styles */
.question_text {
  width: 80%;
  margin: 0 auto;
  background-color: #D9D8DF;
  border-radius: 0.75em;
  padding: 5px;
}
.question_button {
  width: 80%;
  min-width: 300px;
  margin: 2em auto;
  text-align: center;
}
.question_yes a, .question_no a {
  background-color: #BDAEC6;
  padding: 0.5em;
  border-radius: 0.75em;
  text-decoration: none;
  color: #223144;
}
.question_yes a:hover, .question_no a:hover {
  background-color: #C3C3E5;
  color: #443266;
}
.answer_box {
  min-height: 250px;
  clear: both;
}
.answer_list {
  list-style-type: none;
  padding-left: 0;
}
.answer_list li {
  margin-left: 0;
}
.vote_side {
  float: left;
}
.vote_total {
  width: 75%;
  text-align: center;
}

/* vote button styles */
.button_to input {
  display: inline;
  width: 75%;
  min-width: 35px;
  max-width: 100px;
  margin: 1%;
}
.button_to, .button_to div {
  display: inline;
}