/* General Styles */

body {
  padding-top: 65px;
  padding-bottom: 20px;
}

.fade {
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
}

textarea, .answer_form input[type="submit"], .question_form input[type="submit"] {
  display: block;
  width: 65%;
  margin: 1% auto;
  max-width: 500px;
}

/* Sign In Styles */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Header Styles */
.navbar {
  background-image: url('./nebula.png');
}

/* question styles */
.question_text, .answer_text {
  background-color: #FFDD93;
  padding: 5px;
  box-shadow: 7px 7px 3px #FEBD2B;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.question_button, .voting {
  width: 100%;
  min-width: 300px;
  margin: 2em auto;
  text-align: center;
}
.voting form div {
  display: inline;
}
.question_yes a, .upvote_button {
  background-color: #BAEE9E;
  padding: 0.5em;
  border-radius: 0.75em;
  text-decoration: none;
  color: #286308;
  border: 0;
}
.question_yes a:hover {
  background-color: #CAF3B4;
  color: #367913;
}
.question_no a, .downvote_button {
  background-color: #FFB3AA;
  padding: 0.5em;
  border-radius: 0.75em;
  text-decoration: none;
  color: #721509;
  border: 0;
}
.question_no a:hover {
  background-color: #FFC4BC;
  color: #8B2316;
}
.answer_box {
  margin-bottom: 3em;
}
.answer_list {
  list-style-type: none;
  padding-left: 0;
}
.answer_list li {
  margin-left: 0;
}
.vote_total {
  text-align: center;
  display: inline;
  padding: 1.5%;
  color: tomato;
  margin: 5%;
}

/* vote button styles */
.button_to input {
  display: inline;
  margin: 1%;
}
.button_to, .button_to div {
  display: inline;
}
